.cart {
    padding: 4rem 5rem;
}
.cart h2 {
    margin-block-end: 2rem;
    padding: .5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    color: var(--white-color);
    text-transform: capitalize;
    letter-spacing: 2px;
}
.cart__empty {
    text-align: center;
}
.cart__empty p {
    font-size: 1.7rem;
    font-weight: 200;
    margin-block-end: 1rem;
}
.empty__logo {
    font-size: 10rem;
    color: hsla(0, 0%, 100%, 0.322);
}
.home__shop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    font-size: 1.2rem;
    font-weight: 200;
    margin-block-end: 2rem;
}
.home__shop i {
    transition: var(--transition);
}
.home__shop:hover i {
    transform: scale(1.5);
}
.cart__titles {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    gap: 15rem;
    padding: .5rem;
    margin-block-start: 4rem;
    border-bottom: 3px solid hsla(0, 0%, 100%, 0.082);
}
.cart__titles h3 {
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: hsla(0, 0%, 100%, 0.616);
}
.cart__item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    gap: 15rem;
    border-bottom: 3px solid hsla(0, 0%, 100%, 0.082);
    margin-block-start: 2rem;
    margin-block-end: 2rem;
}
.cart__product-image {
    width: 70px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.cart__product-image img {
    object-fit: contain;
    width: 100%;
    height: 90px;
    transition: var(--transition);
}
.cart__info {
    text-align: center;
    margin-block-start: .5rem;
    margin-block-end: 1rem;
}
.cart__info h3, .cart__product-price, .cart__count, .cart__product-total-price {
    font-weight: 300;
    font-size: 1rem;
}
.cart__info button {
    padding: .5rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: hsla(0, 0%, 100%, 0.616);
    cursor: pointer;
}
.cart__product-quantity {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5rem;
    width: 7rem;
    box-shadow: var(--shadow);
}
.cart__product-quantity .cart__count {
    font-size: 1.2rem;
}
.cart__product-quantity button {
    font-size: 1.3rem;
    cursor: pointer;
}
.clear-cart {
    padding: .6rem;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    letter-spacing: 1px;
    color: hsla(0, 0%, 100%, 0.616);
    box-shadow: var(--shadow);
    transition: var(--transition);
}
.clear-cart i {
    margin-right: .2rem;
}
.clear-cart:hover {
    background: var(--primary-color);
    color: var(--white-color);
}
.cart__checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cart__subtotoal {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: capitalize;
}
.cart__pay {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-block-end: 1.2rem;
}
.cart__checkout a {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--transition);
}
.cart__checkout a:hover {
    color: var(--black-color);
}
.cart__checkout a i {
    margin-right: .4rem;
}

/*==========Media Query==========*/
@media (max-width: 768px) {
    .cart {
        padding: 4rem 2rem;
    }

}