.category__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 2rem;
    transition: var(--transition);
}
.category__title {
    margin-block-end: 1.5rem;
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 200;
    letter-spacing: 2px;
    color: var(--white-color);
}
.box__image {
    position: relative;
    overflow: hidden;
    padding: 1rem;
    box-shadow: var(--shadow1);
    border-radius: .5rem;
    transition: var(--transition);
}
.box__image img {
    object-fit: contain;
    width: 100%;
    height: 100px;
    transition: var(--transition);
}
.box__image img:hover {
    animation: shakeIcons .5s var(--cubic-anim) both;
}

/*==========Animation==========*/
@keyframes shakeIcons {
    0%, 100% {
        transform: rotate(0);
        transform-origin: 50% 50%;
    }
    10%, 90% {
        transform: rotate(4deg);
    }
    20%, 40%, 60% {
        transform: rotate(-6deg);
    }
    30%, 50%, 70% {
        transform: rotate(6deg);
    }
    80% {
        transform: rotate(-4deg);
    }
}


/*==========Media Query==========*/
@media (max-width: 1024px) {
    .category__container {
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
        gap: 1rem;
    }
    .box__image {
        background: var(--white-color);
    }

}


/*==========Media Query==========*/
@media (max-width: 768px) {
    .category__container {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .box__image {
        background: var(--text-color);
    }

}