.banner {
    position: relative;
    padding: 3rem 0;
    height: 100vh;
}
.banner__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.banner__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.banner__text h1 {
    font-size: 6rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -2px;
    background-image: linear-gradient(to top, var(--black-color) 0%, var(--primary-color) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--transparent-color);
}
.banner__text p {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--text-color);
}
.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-block-start: 2rem;
}
.banner__cta {
    background: var(--transparent-color);
    box-shadow: var(--shadow1);
    font-size: 1.1rem;
    font-weight: 300;
    text-transform: capitalize;
    width: fit-content;
}
.banner__cta-1 {
    background: var(--text-color);
    font-size: 1.1rem;
    font-weight: 300;
    text-transform: capitalize;
    width: fit-content;
}
.banner__image {
    position: relative;
    width: 32%;
    filter: contrast(1.5);
    transition: var(--transition);
}
.banner__image:hover {
    transform: scale(1.02) rotate(-2deg);
}


/*==========Media Query==========*/
@media (max-width: 1024px) {
    .banner {
        padding: 1rem 3rem;
    }
    .banner__content {
        flex-direction: column;
    }
    .banner__text h1 {
        font-size: 3.5rem;
    }
    .banner__text p {
        font-size: 1.1rem;
    }
    .banner__cta, .banner__cta-1 {
        font-size: 1rem;
    }
    .banner__image {
        width: 47%;
    }
    .banner__image:hover {
        transform: scale(0) rotate(0);
    }
}


/*==========Media Query==========*/
@media (max-width: 768px) {
    .banner {
        padding: 1.5rem 0;
    }
    .banner__text h1 {
        font-size: 3.2rem;
        font-weight: 300;
        margin-block-end: .5rem;
    }
    .banner__text p {
        font-size: 1rem;
    }
    .cta {
        gap: 1rem;
        margin-block-start: 1rem;
    }
    .banner__cta, .banner__cta-1 {
        font-size: 1rem;
        padding: .3rem .7rem;
    }
    .banner__image {
        width: 82%;
    }

}